{% extends 'base.html' %}
{% load static %}

{% block title %}
    Регистрация руководителя кафедры
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/admin_panel_forms.css' %}">
    <div class="form__container">
        <div class="form__title">Зарегистрировать руководителя кафедры</div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input__container">
                    <div class="input__label" for="input__text">{{ field.label }}</div>
                    {{ field }}
                </div>
            {% endfor %}
            {% for field, errors in form.errors.items %}
                <ul class="errorlist">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
            <button class="submit__form" type="submit">Зарегистрировать</button>
        </form>
    </div>
{% endblock %}