{% extends 'base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="form__container">
        <div class="form__title">Войти</div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="input__container">
                    <div class="input__label" for="input__text">{{ field.label }}</div>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="addition__links">
                <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                <a href="{% url 'register' %}">Регистрация</a>
            </div>
            <button class="submit__form" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}