{% extends 'base.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}


{% block content %}
<div class="form__container">
    <form method="post" class="form-group">
        <div class="form__title">Восстановление пароля</div>
        {% csrf_token %}
        {% for field in form %}
                <div class="input__container">
                    <div class="input__label" for="input__text">{{ field.label }}</div>
                   {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="submit__form">Запросить новый пароль</button>
    </form>
</div>
{% endblock %}