{% extends 'base.html' %}

{% block title %}
    Создай аккаунт
{% endblock %}

{% block content %}
    <div class="form__container">
        <div class="form__title">Войти</div>
        <form action="{% url 'register' %}">
            {% for field in form %}
                <div class="input__container">
                    <div class="input__label" for="input__text">{{ field.label }}</div>
                   {{ field }}
                </div>
            {% endfor %}
            <button class="submit__form" type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}