{% extends 'base.html' %}
{% load static %}

{% block title %}
    Кафедра {{ cathedra.title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'navigation/css/review.css' %}">
    <img width="100" height="100" src="{{ cathedra.image.url }}" alt="Логотип кафедры">
    <h1>{{ cathedra.title }}</h1>
    <h3>{{ cathedra.info }}</h3>
    <hr>
    <h3>Оценки кафедры</h3>
    <ul class="cathedra__marks__list">
        <li>Отношение к студентам: {{ cathedra.attitude_to_student_mark }} / 5</li>
        <li>Актуальность преподаваемого материала: {{ cathedra.relevance_of_material_mark }} / 5</li>
        <li>Возможность стажировки на кафедре: {{ cathedra.availability_of_cathedra_internship_mark }} / 5</li>
        <li>Возможность найти работу: {{ cathedra.find_job_opportunity_mark }} / 5</li>
        <br>
        <li>Совокупная оценка преподавателей: {{ cathedra.teachers_mark }} / 5</li>
    </ul>
    {% if not cathedra in cathedra_reviews %}
        <div class="review__column">
            <h4>Оцени эту кафедру</h4>
            <form method="post" action="{% url 'create_cathedra_review_url' cathedra_id=cathedra.id %}">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                <button class="btn btn-success but">Оценить</button>
            </form>
        </div>
    {% endif %}

    <hr>
    {% if cathedra.teachers.all %}
        <h3>Преподаватели кафедры</h3>
        {% for teacher in cathedra.teachers.all %}
            <h4><a href="{{ teacher.get_absolute_url }}">{{ teacher }}</a></h4>
        {% endfor %}
    {% endif %}
{% endblock %}