{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
    {{ teacher.last_name }}
    {{ teacher.first_name | first }}.
    {{ teacher.patronymic | first }}.
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'navigation/css/teacher_detail.css' %}">
    <br>
    <img width="200" src=" {{ teacher.avatar.url }}" alt="
    {{ teacher.last_name }}
    {{ teacher.first_name | first }}.
    {{ teacher.patronymic | first }}.">
    <h2>{{ teacher.last_name }}
        {{ teacher.first_name }}
        {{ teacher.patronymic }}</h2>
    <h3>{{ teacher.speciality }}</h3>
    <h4>Кафедры</h4>
    {% for cathedra in cathedras %}
        <h5><a href="{{ cathedra.get_absolute_url }}">{{ cathedra.title }}</a></h5>
    {% endfor %}
    {% if teacher.courses.all %}
        <h4>Преподаваемые курсы</h4>
        {% for course in teacher.courses.all %}
            <li>{{ course.title }}</li>
        {% endfor %}
    {% endif %}

    {% if teacher.birth_date %}
        <h4>Дата рождения: {{ teacher.birth_date }}</h4>
    {% endif %}
    <br>
    <h3>Оценки преподавателя:</h3>
    {% if teacher.is_lecturer %}
        <h4>Как лектор</h4>
        <ul class="lecture__marks__list">
            <li>Контакт с аудиторией: {{ teacher.communicability_lecture_mark }} / 5</li>
            <li>Объективность оценивания: {{ teacher.objectivity_lecture_mark }} / 5</li>
            <li>Знание дисциплины: {{ teacher.knowledge_lecture_mark }} / 5</li>
            <li>Талант преподавания: {{ teacher.teacher_talent_mark }} / 5</li>
        </ul>
    {% endif %}
    {% if teacher.is_practical %}
        <h4>Как практик</h4>
        <ul class="practice__marks__list">
            <li>Контакт с аудиторией: {{ teacher.communicability_practice_mark }} / 5</li>
            <li>Объективность оценивания: {{ teacher.objectivity_practice_mark }} / 5</li>
            <li>Знание дисциплины: {{ teacher.knowledge_practice_mark }} / 5</li>
            <li>Требовательность: {{ teacher.load_mark }} / 5</li>
        </ul>
    {% endif %}

    {% if user.is_student %}
        <hr>
        <h3>Оцени препода:</h3>

        <div class="reviews__container">
            <form id="review__form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                {% if teacher.is_lecturer %}
                    {% if teacher not in reviews_of_lecture_teachers %}
                        {#                        <div id="lecture__column">#}
                        {#                            <h4>Как лектор</h4>#}
                        {#                            {{ lform.as_p }}#}
                        {#                        </div>#}
                        <div id="lecture__column">
                            <h4>Как лектор</h4>

                            <label for="lecture__review__option"> Контакт с аудиторией: </label>
                            <input class="lecture__review__option" type="range" min="0" max="10" step="1"
                                   value="0">

                            <label for="lecture__review__option"> Объективность оценивания: </label>
                            <input class="lecture__review__option" type="range" min="0" max="10" step="1"
                                   value="0">

                            <label for="lecture__review__option"> Знание дисциплины: </label>
                            <input class="lecture__review__option" type="range"
                                   min="0" max="10" step="1"
                                   value="0">

                            <label for="lecture__review__option"> Талант преподавания: </label>
                            <input class="lecture__review__option" type="range" min="0" max="10" step="1"
                                   value="0">
                            <label>
                                <input type="checkbox" id="lecture__review__choice"> Преподаватель не ведет у меня лекции
                            </label>
                        </div>
                    {% endif %}
                {% endif %}

                {% if teacher.is_practical %}
                    {% if teacher not in reviews_of_practice_teachers %}
                        {#                        <div id="practice__column">#}
                        {#                            <h4>Как практик</h4>#}
                        {#                            {{ pform.as_p }}#}
                        {#                        </div>#}
                        <div id="practice__column">
                            <h4>Как практик</h4>

                            <label for="practice__review__option"> Контакт с аудиторией: </label>
                            <input class="practice__review__option" type="range" min="0" max="10" step="1"
                                   value="0">

                            <label for="practice__review__option"> Объективность оценивания: </label>
                            <input class="practice__review__option" type="range" min="0" max="10" step="1"
                                   value="0">

                            <label for="practice__review__option"> Знание дисциплины: </label>
                            <input class="practice__review__option" type="range"
                                   min="0" max="10" step="1"
                                   value="0">

                            <label for="practice__review__option"> Требовательность: </label>
                            <input class="practice__review__option" type="range" min="0" max="10" step="1"
                                   value="0">
                            <label>
                                <input type="checkbox" id="practice__review__choice"> Преподаватель не ведёт у меня
                                практических занятий
                            </label>
                        </div>
                    {% endif %}
                {% endif %}
                <hr>
                <button class="btn btn-success but">Оценить</button>
            </form>
        </div>
    {% endif %}

    <br>
    <hr>
    <h6>А тут планируются комментарии... coming soon, так сказать</h6>
    <script src="{% static 'navigation/js/teacher_detail.js' %}"></script>
{% endblock %}

{#JUST COMMENT#}
