{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
    {{ teacher.last_name }}
    {{ teacher.first_name | first }}.
    {{ teacher.patronymic | first }}.
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'navigation/css/teacher_detail.css' %}">
    <br>
    <img width="200" src=" {{ teacher.avatar.url }}" alt="
    {{ teacher.last_name }}
    {{ teacher.first_name | first }}.
    {{ teacher.patronymic | first }}.">
    <h2>{{ teacher.last_name }}
        {{ teacher.first_name }}
        {{ teacher.patronymic }}</h2>
    <h3>{{ teacher.speciality }}</h3>
    <h4>Кафедры</h4>
    {% for cathedra in cathedras %}
        <h5><a href="{{ cathedra.get_absolute_url }}">{{ cathedra.title }}</a></h5>
    {% endfor %}
    {% if teacher.courses.all %}
        <h4>Преподаваемые курсы</h4>
        {% for course in teacher.courses.all %}
            <li>{{ course.title }}</li>
        {% endfor %}
    {% endif %}

    {% if teacher.birth_date %}
        <h4>Дата рождения: {{ teacher.birth_date }}</h4>
    {% endif %}
    <br>
    <h3>Оценки преподавателя:</h3>
    {% if teacher.is_lecturer %}
        <h4>Как лектор</h4>
        <ul class="lecture__marks__list">
            <li>Контакт с аудиторией: {{ teacher.communicability_lecture_mark }} / 5</li>
            <li>Объективность оценивания: {{ teacher.objectivity_lecture_mark }} / 5</li>
            <li>Знание дисциплины: {{ teacher.knowledge_lecture_mark }} / 5</li>
            <li>Талант преподавания: {{ teacher.teacher_talent_mark }} / 5</li>
        </ul>
    {% endif %}
    {% if teacher.is_practical %}
        <h4>Как практик</h4>
        <ul class="practice__marks__list">
            <li>Контакт с аудиторией: {{ teacher.communicability_practice_mark }} / 5</li>
            <li>Объективность оценивания: {{ teacher.objectivity_practice_mark }} / 5</li>
            <li>Знание дисциплины: {{ teacher.knowledge_practice_mark }} / 5</li>
            <li>Требовательность: {{ teacher.load_mark }} / 5</li>
        </ul>
    {% endif %}

    {% if user.is_student %}
        <hr>
        <h3>Оцени препода:</h3>

        <div class="reviews__container">
            {% csrf_token %}
            {% if teacher.is_lecturer %}
                {% if teacher not in reviews_of_lecture_teachers %}

                    <h4>Как лектор</h4>
                    <form action="">
                        {% for field in lform %}
                            <div class="tick-slider">
                                {{ field.label }}
                                <div class="tick-slider-value-container">
                                    <div id="weightLabelMin" class="tick-slider-label">0</div>
                                    <div id="weightLabelMax" class="tick-slider-label">10</div>
                                    <div id="weightValue" class="tick-slider-value"></div>
                                </div>
                                <div class="tick-slider-background"></div>
                                <div id="weightProgress" class="tick-slider-progress"></div>
                                <div id="weightTicks" class="tick-slider-tick-container"></div>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <br><br>
                        <button class="btn btn-success but">Оценить</button>
                    </form>
                {% endif %}
            {% endif %}

            {% if teacher.is_practical %}
                {% if teacher not in reviews_of_practice_teachers %}

                    <div id="practice__column">
                    <h4>Как практик</h4>

                    <form action="">
                        {% for field in pform %}
                            <div class="tick-slider">
                                <div class="tick-slider-header">
                                    <h5><label for="weightSlider">{{ field.label }}</label></h5>
                                </div>
                                <div class="tick-slider-value-container">
                                    <div id="weightLabelMin" class="tick-slider-label">0</div>
                                    <div id="weightLabelMax" class="tick-slider-label">10</div>
                                    <div id="weightValue" class="tick-slider-value"></div>
                                </div>
                                <div class="tick-slider-background"></div>
                                <div id="weightProgress" class="tick-slider-progress"></div>
                                <div id="weightTicks" class="tick-slider-tick-container"></div>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <br><br>
                        <button class="btn btn-success but">Оценить</button>
                    </form>

                {% endif %}
            {% endif %}
            <hr>
            </div>
        </div>
    {% endif %}

    <br>
    <hr>
    <h6>А тут планируются комментарии... coming soon, так сказать</h6>
    <script src="{% static 'navigation/js/teacher_detail.js' %}"></script>
{% endblock %}

{#JUST COMMENT#}
