{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title>
        {% block title %}
            ETUrate
        {% endblock %}
    </title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="nav__bar">
            <div class="logo__and__search">
                <a href="{% url 'home' %}">
                    <img class="logo" src="{% static 'main/img/Logo.png' %}" alt="">
                </a>
                <form class="search__bar" action="{% url 'search_url' %}">
                    <input class="search__input" placeholder="Поиск" type="text" name="search">
                    <input type="image" class="search__submit" src="{% static 'main/img/Button_Search.png' %}">
                </form>
            </div>
            <div class="btns">
                <a href="{% url 'faculties_list_url' %}">Факультеты</a>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="/admin">Панель администратора</a>
                    {% elif user.is_staff %}
                        <a href="{% url 'admin_panel_url' %}">Панель
                            администратора</a>
                    {% elif user.is_cathedra_head %}
                        <a href="{% url 'cathedra_control_url' %}">Управление
                            кафедрой</a>
                    {% endif %}
                    <a href="{% url 'my_profile' %}">Мой профиль</a>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                {% endif %}

            </div>
        </div>
    </div>
</header>
<div class="container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>
