{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Управление кафедрой
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>{{ user.cathedra.title }}</h3>
            <form method="post" class="form-group">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Введите даты</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group col">
                    <button type="submit" class="btn btn-outline-info">Сформировать отчет</button>
                </div>
            </form>
            {% for teacher in teachers %}
            <h4>{{ teacher }}</h4>
            <div class="row">
                <form method="get" class="form-group" action="{% url 'teacher_edit_url' teacher_id=teacher.id %}">
                    {% csrf_token %}
                    <div class="form-group col">
                        <button type="submit" class="btn btn-outline-info">Изменить</button>
                    </div>
                </form>
                <form method="post" class="form-group" action="{% url 'teacher_delete_url' teacher_id=teacher.id %}">
                    {% csrf_token %}
                    <div class="form-group col">
                        <button type="submit" class="btn btn-outline-info">Удалить с кафедры</button>
                    </div>
                </form>
                <form method="get" class="form-group" action="{% url 'add_course_to_teacher_url' teacher_id=teacher.id %}">
                    {% csrf_token %}
                    <div class="form-group col">
                        <button type="submit" class="btn btn-outline-info">Добавить курс</button>
                    </div>
                </form>
            </div>
            {% endfor %}
            <h3><a href="{% url 'teacher_create_url' %}">Добавить преподавателя</a></h3>
            <h3><a href="{% url 'courses_url' %}">Курсы</a></h3>
            <a href="{{ user.cathedra.get_absolute_url }}">Перейти к кафедре</a>
        </div>
    </div>
<br>
<h3>Преподаватели других кафедр</h3>
<br>
{% for teacher in other_teachers %}
<div class="row" style="margin-bottom: 15px">
    <div class="col">
        <h4>{{ teacher }}</h4>
    </div>
    <form method="post" action="{% url 'add_teacher_url' teacher_id=teacher.id %}">
        {% csrf_token %}
        <div class="col">
            <button type="submit" class="btn btn-outline-info">Добавить на кафедру</button>
        </div>
    </form>
</div>
{% endfor %}
{% endblock %}