{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Курсы
{% endblock %}

{% block content %}
<div class="content=section">
    <form method="post" enctype="multipart/form-data" class="form-group">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Добавить курс</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Добавить</button>
        </div>
    </form>
    {% for course in courses %}
        <h6><a href="{% url 'course_edit_url' course_id=course.id %}">{{ course.title }}</a></h6>
    {% endfor %}
</div>
{% endblock %}