{% extends 'base.html' %}
{% load static %}

{% block title %}
    Изменить курс
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cathedra_control/css/cathedra_control.css' %}">
    <div class="form__container">
        <div class="form__title">Изменить курс</div>
        <form method="post">
            {% csrf_token %}
            <div class="course__container">
                <div class="input__container" id="course__left">
                    <div class="input__label" for="input__text"> {{ form.title.label }}</div>
                    {{ form.title }}
                </div>
                <div class="input__container">
                    <div class="input__label" for="input__text"> {{ form.teachers.label }}</div>
                    {{ form.teachers }}
                </div>
            </div>
            <button class="submit__form" type="submit">Добавить изменения</button>
        </form>


    </div>

{% endblock %}
