{% extends 'base.html' %}
{% load static %}

{% block title %}
    Курсы
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cathedra_control/css/cathedra_control.css' %}">
    <div class="form__container">
        <div class="form__title">Добавить курс</div>
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="input__container">
                    <div class="input__label" for="input__text">{{ field.label }}</div>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="submit__form" type="submit">Добавить</button>
        </form>
        <br>
        <div class="input__label" for="input__text">Поиск по курсам</div>
        <input type="text" id="elastic" class="input__text">
        <div class="courses">
            {% for course in courses %}
                <a href="{% url 'course_edit_url' course_id=course.id %}" class="input__label">{{ course.title }}</a>
            {% endfor %}
        </div>
    </div>

    <script>
        document.querySelector("#elastic").oninput = function() {
            let val = this.value.trim().toLowerCase();
            let elasticItems = document.querySelectorAll(".courses a");
            if (val != "") {
                elasticItems.forEach(function(elem) {
                    if (elem.innerText.toLowerCase().search(val) == -1) {
                        elem.style.display = "none";
                    }
                    else {
                        elem.style.display = 'block';
                    }
                });
            }
            else {
                elasticItems.forEach(function(elem) {
                    elem.style.display = 'block'
                });
            }
        }
    </script>
{% endblock %}