{% extends 'base.html' %}
{% load static %}

{% block title %}
    Изменить курс
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cathedra_control/css/cathedra_control.css' %}">
    <div class="form__container">
        <div class="form__title">Изменить курс</div>
        <form method="post">
            {% csrf_token %}
            <div class="course__container">
                <div class="input__container" id="course__left">
                    <div class="input__label" for="input__text"> {{ form.title.label }}</div>
                    {{ form.title }}
                </div>
                <div class="input__container">
                    <div class="input__label" for="input__text"> {{ form.teachers.label }}</div>
                    <input type="text" id="teacher_name" class="input__text">
                    <br>
                    {{ form.teachers }}
                </div>
            </div>
            <button class="submit__form" type="submit">Добавить изменения</button>
        </form>


    </div>
    <script>
        document.querySelector("#teacher_name").oninput = function() {
            let val = this.value.trim().toLowerCase();
            let elasticItems = document.querySelectorAll("#id_teachers li label");
            if (val != "") {
                elasticItems.forEach(function(elem) {
                    if (elem.innerText.toLowerCase().search(val) == -1) {
                        elem.style.display = "none";
                    }
                    else {
                        elem.style.display = 'block';
                    }
                });
            }
            else {
                elasticItems.forEach(function(elem) {
                    elem.style.display = 'block'
                });
            }
        }
    </script>
{% endblock %}
