{% extends 'base.html' %}
{% load static %}

{% block title %}
    Добавить преподавателя
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cathedra_control/css/cathedra_control.css' %}">
<div class="form__container">
        <div class="form__title">Добавить преподавателя</div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input__container">
                    <div class="input__label" for="input__text"> {{ form.last_name.label }}</div>
                    {{ form.last_name }}
            </div>
            <div class="input__container">
                    <div class="input__label" for="input__text"> {{ form.first_name.label }}</div>
                    {{ form.first_name }}
            </div>
            <div class="input__container">
                    <div class="input__label" for="input__text"> {{ form.patronymic.label }}</div>
                    {{ form.patronymic }}
            </div>
            <div class="many__to__many">
                <div class="left">
                    <div class="input__container">
                        <div class="input__label" for="input__text"> {{ form.speciality.label }}</div>
                        {{ form.speciality }}
                    </div>
                    <div id="check">
                        {{ form.is_lecturer }}
                        <div class="input__label"  for="input__text"> {{ form.is_lecturer.label }}</div>
                    </div>
                    <div  id="check">
                        {{ form.is_practical }}
                        <div class="input__label" for="input__text"> {{ form.is_practical.label }}</div>
                    </div>
                    <div  id="birth">
                        <div class="input__label" for="input__text"> {{ form.birth_date.label }}</div>
                        {{ form.birth_date }}
                    </div>
                    <div class="input__container">
                        <div class="input__label" for="input__text"> {{ form.avatar.label }}</div>
                        {{ form.avatar }}
                    </div>
                </div>
                <div class="input__container">
                    <div class="input__label" for="input__text"> {{ form.courses.label }}</div>
                    <input type="text" id="course_title" class="input__text">
                    <br>
                    {{ form.courses }}
                </div>
            </div>
            <button class="submit__form" type="submit">Добавить</button>
        </form>
    </div>

    <script>
        document.querySelector("#course_title").oninput = function() {
            let val = this.value.trim().toLowerCase();
            let elasticItems = document.querySelectorAll("#id_courses li label");
            if (val != "") {
                elasticItems.forEach(function(elem) {
                    if (elem.innerText.toLowerCase().search(val) == -1) {
                        elem.style.display = "none";
                    }
                    else {
                        elem.style.display = 'block';
                    }
                });
            }
            else {
                elasticItems.forEach(function(elem) {
                    elem.style.display = 'block';
                });
            }
        }
    </script>
{% endblock %}